body {
  background-color: white;
  border-color: black;
  color: black;
}

.dark-mode {
  background-color: black;
  border-color: white;  
  color: white;
}

.sans { 
  font-family: "Segoe UI", "Open Sans", Arial;
}

@font-face {
  font-family: 'Baskerville';
  src: url('Baskerville-Normal.woff2') format('woff2'),
    url('Baskerville-Normal.woff') format('woff'),
    url('Baskerville-Normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.serif {
  font-family: Baskerville;
}

.whole-page-modal {
  position: absolute; 
  top: 0;
  left: 0; 
  margin: 0; 
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background-color: inherit;
  color: inherit;
}

.large-modal {
  position: absolute; 
  top: calc(15vh - 1px);
  left: calc(15vw - 1px); 
  margin: 0; 
  width: 70vw;
  height: 70vh;
  z-index: 3;
  background-color: inherit;
  color: inherit;
  border: 2px solid black;
}

.small-modal {
  position: absolute; 
  top: calc(50vh - 101px);
  left: calc(50vw - 201px); 
  margin: 0; 
  width: 400px;
  height: 200px;
  z-index: 1;
  background-color: inherit;
  color: inherit;
  border: 2px solid black;
}

.hidden {
  display: none;
}

#done {
  width: 300px;
  height: 200px;
  font-size: 50px;
  border-width: 10px;
  border-color: inherit;  
  background-color: inherit;
  color: inherit;
  margin: 0 calc(50vw - 150px);
}

#outside {
  width: 180px;
  height: 90px;
  font-size: 30px;
  border-width: 5px;
  border-color: inherit;  
  background-color: inherit;
  color: inherit;
  margin: 0 calc(50vw - 90px);
}