body {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.sans { 
  font-family: "Segoe UI", "Open Sans", Arial;
}

.whole-page-modal {
  position: absolute; 
  top: 0;
  left: 0; 
  margin: 0; 
  width: 100vw;
  height: 100vw;
}
