body {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.sans { 
  font-family: "Segoe UI", "Open Sans", Arial;
}

.whole-page-modal {
  position: absolute; 
  top: 0;
  left: 0; 
  margin: 0; 
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background-color: inherit;
  color: inherit;
}

.large-modal {
  position: absolute; 
  top: calc(15vh - 1px);
  left: calc(15vw - 1px); 
  margin: 0; 
  width: 70vw;
  height: 70vh;
  z-index: 3;
  background-color: inherit;
  color: inherit;
  border: 2px solid black;
}

.small-modal {
  position: absolute; 
  top: calc(50vh - 101px);
  left: calc(50vw - 201px); 
  margin: 0; 
  width: 400px;
  height: 200px;
  z-index: 1;
  background-color: inherit;
  color: inherit;
  border: 2px solid black;
}

.hidden {
  display: none;
}